/* Base font size
--------------------------------------------- */
.block-editor-block-list__layout {
	font-size: $fs-18px;
}

/* Post title width
--------------------------------------------- */
.editor-post-title__block.wp-block {
	max-width: $content-width;

	/* Post title styling */
	.editor-post-title__input {
		@include font-sizes( $fs-34px, $fs-42px, $fs-54px );
		font-family: $sans-serif;
		font-weight: bold;
		color: brand-color( 'body-text' );
	}
}

/* Main column width
--------------------------------------------- */
.wp-block-group.is-style-wide-inner-container, .wp-block-cover.is-style-wide-inner-container {
	> :where(:not(.alignleft):not(.alignright):not(.wp-block-group__inner-container):not(.wp-block-group__background):not(.wp-block-cover__inner-container):not(.wp-block-cover__background)) {
		max-width: $grid-width;
		margin-left: auto;
		margin-right: auto;
	}
}
.wp-block {
    max-width: $content-width;
	/* Wide column width */
	&[data-align="wide"] {
		max-width: none;

		@include media(">=medium") {
			max-width: 100%;
			width: calc( #{$content-width} + 200px);
		}
	}
	/* Full column width */
	&[data-align="full"] {
		max-width: none;
	}
}

/* Utilities 
--------------------------------------------- */
.is-content-justification-right {
    justify-content: flex-start;
}
.is-content-justification-center {
    justify-content: center;
}
.is-content-justification-right {
    justify-content: flex-end;
}

/* Paragraph
--------------------------------------------- */
p.has-background {
    padding: 20px 30px !important;
}

/* Lists
--------------------------------------------- */
ul.wp-block, ol.wp-block, ul, ol {
	font-size: $fs-18px;
	padding-left: 32px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	li {
		margin-bottom: 8px;
		&:last-child {
			padding-bottom: 0;
		}
	}
	ul, ol {
		padding-left: 32px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
}
.is-root-container {
	> ul.wp-block, > ol.wp-block {
	padding-left: 64px;
	}
}

/* Button
--------------------------------------------- */
.wp-block-button {
	margin-right: 8px !important;
	&.is-style-full {
		width: 100% !important;
	}
}

/* File
--------------------------------------------- */
[data-align="full"] > .wp-block-file {
	display: block;
	width: 100%;
	max-width: $content-width !important;
	margin: 0 auto !important;
}
.wp-block-file {
	display: block;
	margin: 20px auto;
	.wp-block-file__content-wrapper {
		border: 1px solid $border-color;
		border-radius: $border-radius;
		padding: 6px 16px 6px 48px;
		color: brand-color( 'primary' );
		background-color: brand-color( 'white' );
		a:first-of-type {
			padding: 6px 16px;
		}
	}
	.wp-block-file__button {
		display: inline-block;
		&:after {
			border-right: none;
			left: 0;
		}
	}
	.wp-block-file__copy-url-button {
		margin-top: 8px;
	}
}

/* Quote Blocks
--------------------------------------------- */
.wp-block-quote, .wp-block-pullquote {
	cite, .wp-block-quote__citation, .wp-block-pullquote__citation {
		font-weight: bold;
		font-size: $fs-14px;
		text-transform: none;
	}
}
[data-align="full"] > .wp-block-quote, [data-align="full"] > .wp-block-pullquote {
	border-radius: 0;
}

/* Image
--------------------------------------------- */

/* Tables
--------------------------------------------- */
.wp-block-table  {
	margin-left: auto;
	margin-right: auto;
}

/* Latest Posts
--------------------------------------------- */
.wp-block-latest-posts  {
	margin-left: auto;
	margin-right: auto;
}

/* Gallery
--------------------------------------------- */
.wp-block-gallery {
	.blocks-gallery-item {
		figcaption {
			width: 100%;
		}
	}
}

/* Group
--------------------------------------------- */
[data-align=full] {
	.wp-block-group {
		border-radius: 0;
	}
}

/* Cover
--------------------------------------------- */
[data-align=full] {
	.wp-block-cover {
		border-radius: 0;
	}
}


/* Separator
--------------------------------------------- */
.wp-block-separator,
hr {
	display: block;
	max-width: $content-width !important;
	margin-left: auto !important;
	margin-right: auto !important;
	&.is-style-default {
		max-width: $content-width !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	&.is-style-wide {
		max-width: $content-width !important;
	}
}
.wp-block[data-align="center"] {
	.wp-block-separator, hr {
		width: 64px !important;
    	display: flex !important;
		margin-top: 8px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
.is-style-wide-inner-container {
	.wp-block-separator, hr {
		&.is-style-wide {
			max-width: $grid-width !important;
		}
	}
}

/* Accordion
--------------------------------------------- */
.accordion-block {
	.accordion {
		cursor: text;
	}
	.panel {
		max-height: 100%;
		padding: 16px;
	}
}

/* Equal Height Columns
--------------------------------------------- */
@media (min-width: 720px) {
	.wp-block-columns.is-style-equal-height{
		.wp-block-column {
			flex-flow: column;
		}
	} 
}

/* Specific Block Widths
--------------------------------------------- */
.wp-block-cover__inner-container, .wp-block-group__inner-container {
	max-width: $content-width;
	.wp-block {
		max-width: 100%;
	}
}
.alignfull, [data-align=full] {
	.wp-block-cover__inner-container, .wp-block-group__inner-container {
		> .alignwide, > [data-align=wide] {
			@include alignwide;
			margin-top: 0;
			margin-bottom: 0;
			.wp-block-cover__inner-container, .wp-block-group__inner-container {
				max-width: $grid-width;
			}
		}
	}
}
[data-align=full] {
	.wp-block-group.has-background {
		> .wp-block-group__inner-container {
			> [data-align=full] {
				width: 100%;
			}
		}
	}
}
.wp-block-group.has-background {
	> .wp-block-group__inner-container {
		> [data-align=full] {
			margin-left: auto !important;
		}
	}
}


/* Reusable Blocks
--------------------------------------------- */
.wp-block.is-reusable {
    background-size: 16px 16px;
	background-color: lightskyblue;
	background-image: linear-gradient(to right, white 1px, transparent 1px),
	linear-gradient(to bottom, white 1px, transparent 1px);
	padding: 10px 10px;
}


/* Card Container
--------------------------------------------- */
.card-container {
	display: block;
	.card {
		box-shadow: none !important;
		margin-top: 0 !important;
		min-width: auto !important;
		max-width: 100% !important;
	}
	.block-list-appender.wp-block {
		display: flex;
		align-items: center;
		textarea.block-editor-default-block-appender__content {
			display: none !important;
		}
		.components-dropdown.block-editor-inserter {
			left: auto !important;
			right: auto !important;
		}
	}
	.wp-block.is-reusable {
		background-size: 16px 16px;
		background-color: lightskyblue;
		background-image: linear-gradient(to right, white 1px, transparent 1px),
		linear-gradient(to bottom, white 1px, transparent 1px);
		border-radius: $border-radius;
		padding: 10px 10px;
		.block-editor-block-list__layout {
			grid-template-columns: 1fr !important;
			margin: 0 auto !important;
		}
		.block-list-appender {
			display: none !important;
			.block-editor-block-list__layout {
				grid-template-columns: 1fr !important;
			}
		}
	}
	.block-editor-block-list__layout {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		max-width: $grid-width;
		margin: $block-margin auto;
		> .wp-block {
			width: 100% !important;
		}
		@include media(">=tablet") {
			grid-gap: 20px;
		}
		@include media(">=tablet") {
			grid-template-columns: 1fr 1fr;
		}
		@include media(">=medium") {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 20px;
		}
	}
	@include media(">=medium") {
		&.col-1 {
			.block-editor-block-list__layout {
				grid-template-columns: 1fr;
			}
		}
		&.col-2 {
			.block-editor-block-list__layout {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}
/* If CARD is standalone (outside of Card Container) */
.card {
	background: brand-color('white');
	border-radius: 12px;
	padding: 20px;
	border: 1px solid $border-color;
	.post-image {
		margin-bottom: 20px;
		margin-left: -20px;
		margin-top: -20px;
		width: calc(100% + 40px);
		border-radius: 12px 12px 0 0;
		overflow: hidden;
		background: brand-color('light-grey');
		img {
			margin: 0 auto;
			width: 100%;
			padding: 0 !important;
			border: none !important;
		}
	}
	h3 {
		font-weight: 700;
		margin-top: 6px !important;
		margin-bottom: 8px !important;
		font-size: $fs-24px !important;
		line-height: 1.2;
		a {
			color: brand-color( 'primary');
			padding-right: 8px;
			&:hover, &:focus {
				text-decoration: underline;
			}
			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='32px' height='32px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' color=#{$highlight-encoded} fill-rule='evenodd' d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
				height: 24px;
				width: 24px;
				display: inline-block;
				background-repeat: no-repeat;
				left: 4px;
				position: relative;
				top: -2px;
				vertical-align: middle;
				background-position: center;
				background-size: contain;
			}
		}
	}
	.excerpt {
		@include font-sizes( $fs-18px );
		line-height: 1.5;
	}
}