.site-footer {
    background: brand-color( 'body-text' );
    color: $white;
    margin-top: $block-margin;

    a {
        color: brand-color( 'secondary' );
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    .footer-container {
        max-width: $grid-width;
        margin: 0 auto;
        padding: 32px $base-margin;

        h2 {
            font-weight: bold;
            color: $white;
        }

        .site-info {
            text-align: center;
        }
    }
}